.cultImage {
    width: 500px;
}
.cultDecoration {
    width: 600px;
}

.movingPicturesContainer {
    justify-content: flex-start;
    align-items: center;
    width: 100%;
    display: flex;
    flex-direction: column;
    min-height: 900px;
    overflow: hidden;
}
.productsContainer {
    justify-content: flex-start;
    align-items: center;
    display: flex;
    flex-direction: column;
    padding-top: 20rem;
    min-height: 1250px;
    padding-bottom: 0;
    width: 100%;
    overflow: hidden;
    
}

.productsStack {
    flex-direction: row !important;
    justify-content: center;
    align-items: center;
    gap: 40px;
    width: 100%;
    display: flex;
    position: relative;
}

.cultImageStack {
    gap: 2;
    justify-content: center;
    align-items: center;
    text-align: center;
    display: flex;
}

.productDescriptionContainer {
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    padding: 10rem;
    border-radius: 8px;
    justify-content: center;
    display: flex;
    flex-direction: column;
}

/* Mobile */
@media (max-width: 600px) {
    .cultImage {
        width: 200px;
        align-self: center;
    }
    .decoration {
        width: 200px;
        position: absolute;
    }
    .productsContainer {
        min-height: 700px;
        justify-content: flex-start;
        padding-top: 0rem;
        padding-bottom: 10px;
    }
    .productsStack {
        box-sizing: content-box;
        flex-direction: column !important;
        align-self: center;
        display: flex;
        gap: 20px;
    }
    .cultImageStack {
        gap: 5;
        justify-content: flex-start;
        align-items: flex-start;
    }
    .productDescriptionContainer {
        padding: 2rem;
    }
    .movingPicturesContainer {
        min-height: 200px;
        justify-content: flex-start;
        padding-top: 3%;
        padding-bottom: 10px;
    }
}
