

@media (max-width: 600px) {
    .cultImage {
        width: 200px;
    }

    .decoration {
        width: 200px;
        position: absolute;
    }
}

@media (min-width: 600px) {
    .cultImage {
        width: 500px;

    }

    .decoration {
        width: 600px;
    }
}
