/*
  CSS RESET
  https://www.joshwcomeau.com/css/custom-css-reset/
*/
*,
*::before,
*::after {
  box-sizing: border-box;
}
* {
  margin: 0;
}
html {
  scrollbar-gutter: stable;
  font-size: 62.5%; /* Makes 1rem = 10px */
  font-family: var(--font-milau) !important;
}
body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
  font-family: var(--font-milau) !important;
}
img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}
input,
button,
textarea,
select {
  font: inherit;
}
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

/* THEME VARIABLES */
html {
  --content-width: 55rem;
  --outer-content-width: 80rem;
  --viewport-padding: 16px;
  --header-height: 5rem;
  --trimmed-content-width: calc(
    var(--content-width) - var(--viewport-padding) * 2
  );
  height: 100%;
}

@media (min-width: 35rem) {
  html {
    --viewport-padding: 24px;
  }
}

/* GLOBAL STYLES */
::selection {
  background-color: var(
    --color-selection-background
  ) !important;
  color: var(--color-selection-text) !important;
  background-image: none !important;
  -webkit-text-fill-color: var(
    --color-selection-text
  ) !important;
  -moz-text-fill-color: var(
    --color-selection-text
  ) !important;
  background-image: none !important;
  background-clip: revert !important;
  -webkit-background-clip: revert !important;
  text-shadow: none !important;
}

html {
  color: var(--color-text);
  font-family: var(--font-milau);
  letter-spacing: -0.03125em;
}


body {
  min-height: 100vh;
  min-height: 100svh;
  display: flex;
  flex-direction: column;
  border-bottom: 3px solid var(--color-decorative-600);
}

body::before {
  content: '';
  position: absolute;
  z-index: 0;
  top: 0;
  left: 0;
  right: 0;
  height: 50vh;
}

body > main {
  flex: 1;
  position: relative;
}

em {
  font-style: italic;
}
code {
  font-family: var(--font-milau);
}
h1,
.MuiTypography-h1 {
  font-size: 5rem !important;
  font-weight: 400 !important;
  font-family: var(--font-milau) !important;
}
h2,
.MuiTypography-h2 {
  font-size: 3rem !important;
  margin-top: 0.5em !important;
  font-weight: 200 !important;
  font-family: var(--font-milau) !important;
}
h3,
.MuiTypography-h3 {
  font-family: var(--font-milau) !important;
  font-size: 2rem !important;
  margin-top: 1em !important;
  margin-bottom: 0.5em !important;
  font-weight: 500 !important;
}
p,
.MuiTypography-body1 {
  font-family: var(--font-milau) !important;
  font-size: 1.25rem !important;
}
.MuiTypography-body2 {
  font-family: var(--font-milau) !important;
  font-size: 1rem !important;
 
}
p code {
  display: inline-block;
  font-size: 0.9em;
  background: var(--color-inline-code-bg);
  padding: 3px 6px;
  margin: -0.25em -1px;
  border-radius: 3px;
}
a {
  color: currentColor;
  text-decoration-color: var(--color-primary);
  text-decoration-thickness: 2px;
  text-underline-offset: 0.125em;
  font-weight: 500;
  transition: all 200ms;
}
a:hover {
  text-underline-offset: 0.175em;
}
button {
  padding: 0;
}

@media (min-width: 35rem) {
  h1,
  .MuiTypography-h1 {
    font-size: 10rem !important;
  }

  h2,
  .MuiTypography-h2 {
    font-size: 8rem !important;
  }
  h3,
  .MuiTypography-h3 {
    font-size: 6rem !important;
  }
  .MuiTypography-body1 {
    font-size: 4rem !important;
  }
  .MuiTypography-body2 {
    font-size: 3rem !important;
  }
}
.header {
  position: relative;
  z-index: 1;
  margin: 1rem;
}

.stack {
  width: 100%;
  height: 100%;
  align-items: center;
  justify-content: center;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

@media (max-width: 600px) {
  .stack {
    gap: 10px;
  }
}